@import url('https://fonts.googleapis.com/css?family=Titan+One|Galada|Cookie');
body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/imgs/minimalist_cube_bright_background_81333_1920x1080.jpg');
    background-size: 100%;
    background-repeat: repeat-y;
    color:white;
}

header {
    padding: 5%;
    color: rgb(18, 132, 177);
    font-family: 'Titan One', cursive;
    text-align: center;
}

h2,
img {
    display: inline-block;
}

section>h2 {
    font-family: 'Galada', cursive;
}

img {
    height: 150px;
}

article {
    margin: 3% 0;
    border: 5px groove chartreuse;
    padding: 3% 5%;
    border-radius: 10%;
    max-width: 30%;
}

article h2 {
    font-weight: bold;
    font-size: 30px;
    color: tomato;
    background: -webkit-linear-gradient(#04a6e6, #0f4380);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

dl p {
    font-size: 30px;
    font-weight: 900;
}

ul li {
    list-style: none;
    font-weight: 600;
    font-size: 18px;
}

h2 span {
    text-decoration: underline;
    text-decoration-color: chartreuse;
}